body {
    background-color: cadetblue;
    background-repeat: repeat;
    font: 1vw/1.5vw helvetica, sans-serif;
}

nav {
    position: relative;
    width: 95%;
    height: 10.5%;
}

.backup {
    width: 95%;
    background-color: white;
    left: 2.5%;
    position: fixed;
    z-index: 1;
}

.container-nav {
    width: 70%;
    margin-left: 5%;
    padding: 1.5vw 1vw 1.2vw 1vw;
}

.container-nav h3 {
    width: 85%;
    float: left;
    font-weight: bold;
    font-size: 2vw;
}

.container-nav .container-img {
    width: 15%;
    float: left;
}

.container-img .img {
    width: 100%;
    padding: .5vw;
}

.container-nav .img img {
    width: 30%;
}

.menu-bar {
    width: 5%;
    padding: 1vw;
    position: fixed;
    left: 2.5%;
    top: 0;
    background-color: white;
    z-index: 1;
    height: 100%;
}

.add-cart {
    display: none;
}

.container-menu {
    margin-top: .5vw;
}

.menu-bar .img {
    margin-bottom: 8vh;
}

.menu-bar .img img {
    width: 100%;
}

.container {
    width: 66.5%;
    background-color: #eaeaea;
    margin-left: 7.5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 3vw;
    padding-top: 3.5vw;
    position: absolute;
    top: 7%;
    box-shadow: inset -2px 0 5px 0 rgba(0, 0, 0, .3);
}

.card {
    width: 29%;
    margin: 1vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.content {
    width: 100%;
    padding: 1vw 1vw 0 1vw;
    font-size: 1.5vw;
}

.content p {
    margin-bottom: 2.8vw;
}

.card .img img {
    width: 100%;
}

.card .price {
    font-weight: 800;
    margin-top: -2vw;
}

.sidebar {
    width: 23.75%;
    position: fixed;
    right: 2.5%;
    background-color: white;
    padding: 2vw;
    position: fixed;
    z-index: 2;
    height: 100%;
}

.sidebar h3, .sidebar h4, .sidebar .img {
    width: 100%;
    font-weight: bold;
}

.sidebar h3 {
    font-size: 2vw;
}

.sidebar h4 {
    font-size: 1.7vw;
}

.sidebar .img {
    margin-top: 2vw;
}

.sidebar .img img {
    width: 50%;
}

.sidebar span {
    width: 2vw;
    height: 2vw;
    padding: 0 .5vw;
    border-radius: 50%;
    background-color: cyan;
    color: white;
}

.sidebar p {
    color: #ccc;
}

.sidebar p:hover {
    color: black;
}



.overlay {
    width: 0;
    height: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0);
    padding: 100px;
}

.overlay:target {
    width: auto;
    height: auto;
    background-color: rgba(0,0,0,0.7);
}

.overlay .sidebar {
    display: none;
}

.overlay .sidebar h3 {
    font-size: 24px;
    margin: 50px 0 -30px 0;
}

.overlay .container-sidebar {
    width: 70%;
    margin-left: 15%;
    padding-left: 20px;
}

.overlay .container-sidebar h4 {
    font-size: 22px;
    margin: -20px 0 8px -10px;
}

.overlay .container-sidebar p {
    margin-left: -10px;
    font-size: 12px;
}

.overlay:target .sidebar {
    width: 70%;
    height: 70%;
    left: 15%;
    display: inline-block;
}

.overlay .close {
    position: absolute;
    z-index: 1;
    width: 20px;
    height: 20px;
    background-color: white;
    font-size: 16px;
    padding-top: 3px;
    border-radius: 50%;
    top: 90px;
    right: 12%;
    text-decoration: none;
    opacity: 0;
    display: none;
}

.overlay:target .close {
    opacity: 1;
    display: block;
}

.overlay .close::after {
    opacity: 0;
}


@media (max-width: 768px) {
    .container-nav {
        width: 70%;
        margin-left: 0;
        background-color: cadetblue;
    }
    .container-nav h3 {
        font-size: 3.2vw;
    }

    .menu-bar {
        width: 66.5%;
        padding: 1vw;
        height: 7vw;
        top: 7.5vw;
    }
    .container-menu {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-left: 16vw;
    }
    .container-menu .img {
        margin-bottom: 0;
        width: 13.5%;
    }
    .container-menu .img img {
        padding-right: 5vw;
    }

    .container {
        width: 66.5%;
        margin-top: 7.5vw;
        margin-left: 2.5%;
        padding-top: 5vw;
    }
    .card {
        width: 44%;
        margin-right: 2.5vw;
    }
    .content {
        padding: 1.5vw 1.5vw 0 1.5vw;
        font-size: 2vw;
    }
    .content p {
        margin-bottom: 3.8vw;
    }

    .sidebar {
        width: 28.75%;
        padding-top: 5vw;
    }
    .sidebar img {
        margin-top: 5vw;
    }
    .sidebar h3 {
        font-size: 3.2vw;
    }
    .sidebar h4 {
        font-size: 2.3vw;
    }
    .sidebar p {
        font-size: 1.3vw;
    }
}

@media (max-width: 576px) {
    .container-nav {
        width: 100%;
    }
    .container-nav h3 {
        font-size: 4vw;
    }

    .menu-bar {
        width: 93.75%;
        padding: .8vw;
    }
    .add-cart {
        display: inline-block;
    }
    .container-menu {
        margin-left: 23vw;
    }
    .container-menu .img {
        width: 11%;
    }
    .menubar .img img {
        width: 10%;
    }

    .container {
        top: 5.5%;
        width: 93.7%;
        padding-top: 2vw;
    }
    .card {
        width: 46%;
        margin: 3vw 1vw 1vw 1.8vw;
    }
    .content {
        padding: 3vw 3vw 0 3vw;
        font-size: 3vw;
    }
    .content p {
        margin-bottom: 5vw;
    }
    
    .sidebar {
        display: none;
    }
}
